<ion-card class="login">
  <ion-card-header class="login__header">
    <img
      class="login__header__logo"
      alt="Logo SelfService"
      src="/assets/logo-img.png"
    />
    <h1 translate>access.login.title</h1>
  </ion-card-header>

  <ion-card-content>
    <form>
      <ion-item>
        <ion-label position="floating" translate>
          access.login.username
        </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" translate>
          access.login.password
        </ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button color="primary" class="login__action" expand="block">
        {{ "access.login.title" | translate }}
      </ion-button>
    </form>

    <div class="login__divider"></div>

    <ion-button color="secundary" class="login__register" expand="block">
      {{ "access.login.register" | translate }}
    </ion-button>
  </ion-card-content>
</ion-card>
